<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to To-do list</title>
    <link rel="stylesheet" href="/static/main.css">
    <script src="/static/main.js"></script>

</head>
<body>
    <nav id="nabvbar">
        <a href="" style="text-decoration: none;color:white">To-do</a>
    </nav>
    <div class="container"> <br>
        <br>
        <center>
        <div class="card" > 
            <h5>Sign in or sign up</h5>
            <button class="btn_primary" onclick="Open('/sign/in')">Sign in </button><br>

            <button class="btn_dark"  onclick="Open('/sign/up')">Sign up</button>
        </div>
        </center>
    </div>
    
</body>
</html>